.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.pageContainer {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sudokuContainer {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
}

.sudokuSquare {
  background-color: #eee;
  flex-basis: 8%;
  outline: 1px solid #333;
  color: #333;
}